atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
boto3==1.21.4; python_version >= "3.6"
botocore==1.24.13; python_version >= "3.6"
brotli==1.0.9; python_version >= "3.7"
certifi==2021.10.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
cffi==1.15.0; platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7") and implementation_name == "pypy" and python_version >= "3.7"
charset-normalizer==2.0.12; python_full_version >= "3.6.0" and python_version >= "3.7"
click==8.0.4; python_version >= "3.7"
colorama==0.4.4; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "win32" and platform_system == "Windows" or sys_platform == "win32" and python_version >= "3.7" and python_full_version >= "3.5.0" and platform_system == "Windows"
configargparse==1.5.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
flask-basicauth==0.2.0; python_version >= "3.7"
flask-cors==3.0.10; python_version >= "3.7"
flask==2.0.3; python_version >= "3.7"
gevent==21.12.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7"
geventhttpclient==2.0.8; python_version >= "3.7"
greenlet==1.1.2; python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation == "CPython" or python_version >= "3.7" and platform_python_implementation == "CPython" and python_full_version >= "3.5.0"
idna==3.3; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
iniconfig==1.1.1; python_version >= "3.6"
itsdangerous==2.1.0; python_version >= "3.7"
jinja2==3.0.3; python_version >= "3.7"
jmespath==0.10.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
locust==2.14.2; python_version >= "3.7"
markupsafe==2.1.0; python_version >= "3.7"
msgpack==1.0.3; python_version >= "3.7"
packaging==21.3; python_version >= "3.6"
pluggy==1.0.0; python_version >= "3.6"
psutil==5.9.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.4.0" and python_version >= "3.7"
py==1.11.0; python_version >= "3.7" and python_full_version < "3.0.0" and implementation_name == "pypy" or python_full_version >= "3.5.0" and python_version >= "3.7" and implementation_name == "pypy"
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7") and implementation_name == "pypy" or platform_python_implementation == "CPython" and sys_platform == "win32" and (python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7") and implementation_name == "pypy" and python_version >= "3.7" and python_full_version >= "3.4.0"
pyparsing==3.0.7; python_version >= "3.6"
pytest==7.0.1; python_version >= "3.6"
python-dateutil==2.8.2; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.6"
pywin32==303; platform_system == "Windows" and python_version >= "3.7"
pyzmq==22.3.0; python_version >= "3.7"
requests-aws4auth==1.1.1
requests==2.27.1; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version >= "3.7"
roundrobin==0.0.2; python_version >= "3.7"
s3transfer==0.5.2; python_version >= "3.6"
six==1.16.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.7"
tomli==2.0.1; python_version >= "3.7"
types-requests==2.27.15
types-urllib3==1.26.11
typing-extensions==4.1.1; python_version >= "3.7"
urllib3==1.26.8; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.6.0" and python_version < "4" and python_version >= "3.7"
werkzeug==2.0.3; python_version >= "3.7"
zope.event==4.5.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_version >= "3.7"
zope.interface==5.4.0; python_version >= "3.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.7"
